.left_center_align {
position: fixed;
top:35%;
width:20%;

}
.slider_option1 {
	width:35%;
	position: absolute;
	top:35%;
	margin-left:20%;
	text-align: center;
}
.slider_option2 {
	width:35%;
	position: absolute;
	top:35%;
	background-color: red;
	margin-left: 60%;
	text-align: center;

}
.slider_menu_btn {


	font-size: 6vmin;
	text-align: center;
	background-color: #337AB7;
	color: white;
	width:100%;
}
.slider_option_button {


	font-size: 6vmin;
	text-align: center;
	background-color: #F8F8F8;
	color: black;
	width:100%;
}
.article_header {
	position: relative;	
}
.article_title {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	color:white;
	padding: 10px;
	padding-left: 20px;
	width:100%;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 4vmin;
	text-transform: uppercase;
}
.article_title_no_pic {
	background: rgba(0,0,0,0.8);
	color:white;
	padding: 10px;
	padding-left: 20px;
	width:100%;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 4vmin;
	text-transform: uppercase;



}
.article_body {
	margin-top:25px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;

}
.div_flash {
	position:fixed;
	top:0;
	width:100%;
	text-align: center;
	font-size: 3vmin;
}
.articles_main {
	position: relative;
	width:30%;
	margin-left:5%;
	float:left;
}
.gallery_display {

	margin-top:20px;
	margin-left:10%;
	border:1px solid black;
	width:85%;
	float:left;
	padding-bottom: 1.4%;

}
.gallery_img {
	margin-top:1.7%;
	margin-left:1.7%;
	width:31%;
	float:left;
}